.container-error {
    height: 100vh;
    margin: 0 auto;
  }

  .m-auto-error {
    margin: auto;
  }
  .flex-center-error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .animate-left-error {
    animation: left 0.5s ease-in-out;
  }
  
  @keyframes left {
    0% {
      transform: translateX(-150px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .d-flex-error {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-flex-error.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .alert-danger-error {
    width: 400px;
    margin: 0.75rem;
    padding: 1.25rem;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 0.45rem;
    box-shadow: 0 0.15rem 0.55rem rgba(0, 0, 0, 0.15);
    /* Closing alert */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testing {
    border: 1px solid red;
  }